@page
@model ProyectoCiclo3.App.Frontend.Pages.ListUsuarioModel
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Origen</th>
      <th>Destino</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Encomienda</th>
    </tr>
  </thead>
  <tbody>
     @foreach (var Servicio in Model.Servicios)
    {
        <tr>
            <td>@servicio.id</td>
            <td>@servicio.origen</td>
            <td>@servicio.destino</td>
            <td>@servicio.fecha</td>
            <td>@servicio.hora</td>
            <td>@sevicio.encomienda</td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
              <a class="btn btn-info" asp-page="./Details" asp-route-encomiendaId="@servicio.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-encomiendaId="@servicio.id">Editar</a>
              <form method="POST">
                <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@servicio.id">
                <button type="submit"class="btn btn-danger" href="">Eliminar</button>
              </form>
              </div>
            </td>
        </tr>
    }

  </tbody>
</table>